---
import Logo from "./Logo.astro";
import Button from "./Button.tsx";
---

<header
	class='h-16 fixed w-screen py-2 z-10 backdrop-blur-md top-50 px-8 lg:px-0'>
	<div class='grid grid-cols-3 max-w-7xl mx-auto items-center'>
		<a href='/'><Logo class='w-10' /> </a>
		<nav class='justify-self-center'>
			<ul class='flex gap-4'>
				<li>INFO</li>
				<li>ARCHIVO</li>
				<li>FINALISTAS</li>
			</ul>
		</nav>
		<Button
			className='md:py-2 md:ml-auto md:text-base lg:text-base'
			url='https://drive.google.com/file/d/1D7IvIqMyqAoG58fuk8bc0JvhAmrWBbOK/view'
			>ENTRA EN LA ISLA ESLAND</Button
		>
		
	</div>
</header>
