<section class="w-full p-20 ma-w-[1400px] mx-auto">
	<h3 class='uppercase'>Guia de la 3째 Edici처n de los premios ESLAND</h3>
	<lite-youtube
		class='rounded-xl shadow-2xl shadow-white/10'
		videoid='nYPVr2IYTtk' videotitle='Guia de la 3째 Edici처n de los premios ESLAND'></lite-youtube>
</section>
<script>
	import "@justinribeiro/lite-youtube";
</script>
