---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import Header from '../components/Header.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark;
	}
	p {
		color: rgba(255,255, 255, 0.9);
		line-height: 1.4;
		margin-bottom: 1em;
		font-weight: 100;
		font-size: 1em;
		letter-spacing: .5px;
	}
	p strong {
		color: white;
		font-weight: 700;

	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #151a36;
	}
</style>
